<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Page</title>
  </head>
  
  <body>
    <p>This is the student interface</p>

  <!--  <form action="get"> 
    will eventually create a drop down list of available services
      <label for="assistance">What can we help you with today?</label>
      <select name="assistance" id="assistance">
        <option value="Travel">Travel</option>
        <option value="Learning">Learning</option>
        <option value="Delivery">Delivery</option>
        <option value="Installation">Installation</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>-->
    <p align="center"><a href="/">Logout</a></p>
  </body>
  
</html>